/* Family Section */
.family-section {
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(../images/meer.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 135px;
}

/* Family Members Section */
.family-members-section {
    padding: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
}

/* Family Container */
.family-container {
    max-width: 800px;
    width: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

/* Family Title */
.family-title {
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 20px;
}

/* Family Form */
.family-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

/* Form Label */
.form-label {
    font-size: 1rem;
    color: #fff;
    margin-bottom: 10px;
}

/* Form Input */
.form-input {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
}

/* Button Container */
.button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* Add Button */
.add-button, .update-button, .select-button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #5c99af;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 1rem;
}

.add-button:hover, .update-button:hover, .select-button:hover {
    background-color: #0099cc;
}

/* Delete Button */
.delete-button {
    background: none;
    border: none;
    cursor: pointer;
}

.delete-button img {
    width: 20px;
    height: 20px;
}


/* Table */
#familyMembersList {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

#familyMembersList th {
    border: 1px solid #ddd;
    padding: 8px;
    background-color: #ffffff47;
    color: white;
}

#familyMembersList td, #familyMembersList tr:nth-child(even) {
    border: 1px solid #ddd;
    padding: 8px;
}

/* Card */
.card {
    background-color: rgba(17, 24, 39, 1);
    padding: 2rem;
    border-radius: 0.5rem;
    color: rgba(243, 244, 246, 1);
    margin: 0 auto;
}
