/* Holidays Section */
.holidays-section {
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(../images/beach.png);
    background-position: 0px;
    background-repeat: 0px;
    background-size: 1;
    padding: 111px;
}
/* Holidayselection Section */
.holidayselection-section {
    padding: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
}

/* Holidays Container */
.holiday-container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    margin-top: 200px;
}

/* Holidays Title */
.holiday-title {
    font-size: 35px;
    color: #fff;
    margin-bottom: 20px;
    text-align: center; 
}

/* Holidays Form */
.holidays-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

/* Form Label */
.form-label {
    font-size: 20px;
    color: #fff;
    margin-bottom: 10px;
}

/* Form Input */
.form-input {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
}
/* Button Container */
.button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* Add Button */
.add-button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #5c99af;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.add-button:hover {
    background-color: #0099cc;
}
/* Delete Button */
.delete-button {
    background: none;
    border: none;
    cursor: pointer;
}

.delete-button img {
    width: 20px;
    height: 20px;
}
/* Table */
#holidaySelectionList {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

#holidaySelecetionList th {
    border: 1px solid #ddd;
    padding: 8px;
    background-color: #ffffff47;
    color: white;
}
#holidaySelectionList td, #holidaylist tr:nth-child(even) {
    border: 1px solid #ddd;
    padding: 8px;
}

/* Card */
.card {
    width: 400px;
    height: auto;
    margin: 0 auto;
    padding: 40px;
    border-radius: 20px;
    background-image: url("../images/card.png"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.card h1 {
    font-size: 30px;
    color: #fffdfd;
    margin-bottom: 20px;
    text-align: center;
}

.card form {
    width: 100%;
}

.card .form-label {
    font-size: 20px;
    color: #fffafa;
    margin-bottom: 10px;
    text-align: left;
}

.card .form-input {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.8);
    margin-bottom: 10px;
}

.card .add-button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #5c99af;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.card .add-button:hover {
    background-color: #0099cc;
}

.card .form-input[type="date"] {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    width: 100%;
}

.card .form-input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.card .form-input[type="date"]::-webkit-datetime-edit-fields-wrapper {
    color: #000;
}


.holidays-list {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

.holidays-list li {
    font-size: 16px;
    color: #d33e11;
    margin-bottom: 10px;
}

